<h1 class="text-center">Voici le détail de la startup <%= @startup.name %> : </h1>

  <h2 class="text-center">
   <%= @startup.incubator %>
  </h2>

    <h3 class="text-center">
      URL : <%= @startup.url %>
    </h3>
